#contentArtikel{
    height: auto;
    min-height: 100vh;
    background-color: #212121;
    padding: 3px 25px;
    padding-bottom: 50px;
    max-width: 325px;
}
#banner{
    height: 30vh;
    max-height: 200px;
    background-image: url('./img/TanzenFoto.jpg');
    background-size: 40vh 200px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 375px;
}
#titel{
    width: calc(100vw - 50px);
    height: auto;
    padding-bottom: 0;
    max-width: 325px;
    font-size: 21px;
    padding:  10px 0;
    border-bottom: 2px solid #A1A1A1;
    /* height: 100px; */
}
#titel h5{
    /* font-size: 12px; */
    color:#FDFDFD;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 4px;
    /* color:rgba(255, 255, 255, 0.7); */
}
#titel h3{
    margin: 0;
}
#autor{
    width: 100%;
    color:#A1A1A1;
    margin: 10px 0;
    display: flex;
    align-items: center;
    max-width: 325px;
}
#autor .icon{
    /* float: right; */
    position: absolute;
    right: 25px;
}

#autor .icon img{
    /* margin-top: 20px; */
    /* float: right; */
    /* width: 20px; */
    width: auto;
    /* height: auto; */
    height: 20px;
    margin-right: 15px;
    opacity: 0.7;
}

#text{
    width:  calc(100vw - 50px);
    max-width: 325px;
    font-family: Roboto;
    font-size: medium;
}
#info{
    margin: 10px 0;
    width: calc(100vw - 50px);
    max-width: 325px;
    list-style: none;
    height: 200px;

}
#info #hashtag{
    text-transform: uppercase;
    color: #A1A1A1;
    padding:  10px 0;
    border-bottom: 2px solid #A1A1A1;
    margin-bottom: 7px;
}
#info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#info ul li{
    list-style: none;
    line-height: 21pt;
    font-size: 18px;
}

#info ul li img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    align-content: center;
    justify-content: center;
}
#info h3{
    text-transform: none;
    font-size: 24px;
    margin: 12px;
    margin-left: 0;
}
#autor img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#icon img{
    width: 20px;
    height: 20px;
    float:right;
    justify-content: center;
    align-items: center;
}
#zurueck img{
    width: 20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
#generelleInfos{
    background-color: #444444;
    width: calc(100vw - 40px);
    max-width: 335px;
    height: 115px;
    padding: 5px 10px;
    border-radius: 5px;
}
#generelleInfos ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#generelleInfos ul li{
    list-style: none;
    margin-top: 5px;
    line-height: 25px;
    font-size: 18px;
    display: flex;
    align-content: center;
}

#generelleInfos ul li img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    align-content: center;
    justify-content: center;
}
#generelleInfos h3{
    text-transform: none;
    font-size: 24px;
    margin: 12px;
    margin-left: 0;
}