.beitrag{
  width: 100%;
  background-color: #323;
  min-height: 300px;
  height: auto;
  margin: 10px 0;
  background-image: url('./img/maria2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  border-radius: 7px;
}
.beitragPodcast{
  min-height: 80px;
  height: auto;
  padding: 5px;
  width: calc(100% - 10px);
  background-color: #444444;
  border-radius: 7px;
  margin: 10px 0;
  display: flex;
  position: relative;
  border-radius: 7px;
}
.beitragPodcast .beitraginhalt{
  padding: 5px;
  background-color: #444444;
  height: auto;
}
.beitragPodcast .beitraginhalt .beitragstitel{
  /* min-height: 30px;
  height: auto; 
  max-height: 50px;*/
  height: 30px;
  display:flex;
  align-items: center;
  margin-bottom: 5px;
}
.beitraginhalt img{
  height: 30px;
  margin-right: 15px;
}
.beitraginhalt{
    background-color: rgba(26, 26, 26, 0.7);
    width: calc(100% - 30px );
    color: #fff;
    padding: 5px;
    height: auto;
    margin: 10px;
    position: absolute;
    bottom: 0;
    /* margin-top: 110px; */
    border-radius: 5px;
  }

.beitragstitel{
  font-size: 18pt;
  font-weight: bold;
  line-height: 28px;
}
.beitragskategorien{
  font-size: 12pt;
  color: #A1A1A1;
  line-height: 18px;
}
.teaser ul{
  padding: 0;
  margin: 0;
}
.teaser ul li{
  list-style: none;
  font-size: 12pt;
  line-height: 20px;
}
.beitragPodcast .extra,
.teaser .extra{
  color: #A1A1A1;
  width: auto;
  height: 30px;
}
.beitragPodcast .extra img,
.teaser .extra img{
  height: 20px;
  margin: 0 5px;
}
.extra ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; 
}
.extra ul li{
  display: block; 
  float: left; 
  margin: 0;
  height: 100%; 
  width: calc(100% /3); 
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra ul li:nth-child(1){
  justify-content: flex-start;
}
.extra ul li:nth-child(3){
  justify-content: flex-end;
}

.icons img {
  height: 20px;
  width: 20px;
}
.icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.icons ul li{
  display: block;
  float: left;
  width: clac(100% / 4);
  margin: 8px;
  box-sizing: border-box;
}

.Artikel li {
  margin-left: 10px;
}

.iconBar{
  max-height: 20px;
}