#contentProfil{
    margin-top: 185px;
    width: calc(100vw - 20px); 
    height: 100%;
    min-height: 100vh;
    /* padding abziehen */
    padding: 10px;
    background-color:#212121;
  
    overflow-y: hidden;
    position: fixed;
  }

  h3{
      color: white;
      margin: 18px 0;
  }
  p{
    font-family: Ubuntu;
    
  }

  input{
    font: Ubuntu;
  }
  #contentProfil #xd p {

    border-bottom: 2px solid #A1A1A1;
    padding-bottom: 20px;
    

  }

  #contentProfil #xd img {
    width: 25px;
    height: 20px;

  }

 


  select {
    width: 100%;
    padding: 12px 5px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
    font-family: Ubuntu;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #A1A1A1;
    outline: none !important;
    
  }


  .form-control{
    border-bottom: 2px solid #A1A1A1;
    outline: 0;
    color: white;
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: Ubuntu;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #A1A1A1;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
 