#contentProfil{
    margin-top: 185px;
    width: calc(100vw - 20px); 
    max-width: 355px;
    height: 100%;
    min-height: 100vh;
    /* padding abziehen */
    padding: 10px;
    background-color:#212121;
  
    overflow-y: hidden;
    position: fixed;
  }

  h3{
      color: white;
      margin: 18px 0;
  }
  p{
    font-family: Ubuntu;
    
    
  }

  input{
    font: Ubuntu;
  }
 
  #profil{
    width: 100%;
    color:#A1A1A1;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #A1A1A1;
    padding-bottom: 20px;
    
  
    
}

#profil .icons {
  /* float: right; */
  position: absolute;
  right: 25px;
  

}
#profil .icons img{
  /* float: right; */
  width:23px;
  height:23px;
  margin-right:10px;
  

}

  
  

 


  select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
    font-family: Ubuntu;
    font-size: 18px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #A1A1A1;
    outline: none !important;
    
  }


  .form-control{
    border-bottom: 2px solid #A1A1A1;
    outline: 0;
    color: white;
  }
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: Ubuntu;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #A1A1A1;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  button{
    display: flex;
    background-color:#212121;
    color: white;
    border: none;
    /* margin-left: calc( 85vw / 2); */
    text-align: center;
    outline: none !important;
  }
  
 