#content{
    margin-top: 50px;
    width: calc(100vw - 20px); 
    height: auto;
    min-height: 100vh;
    /* padding abziehen */
    padding: 10px;
    background-color:black;
    z-index: 25;
  }
h3{
    text-transform: uppercase;
    color: white;
    margin: 18px 0;
}
.smallBlock{
    display: flex;
    min-width: 85vw;
    overflow: auto;
    width: auto;
    height: 90px;
    margin: 18px 0;
    padding-right: 18px;
}
.smallBox{
    background-color: #000;
    float: left;
    color: #fff;
    border-radius: 5px;
    height: 85px;
    min-width: 85px;
    margin-right: 18px;
}
.middleBlock{
    display: flex;
    min-width: 85vw;
    overflow: auto;
    overflow-y: hidden;
    margin: 0;
    width: auto;
    height: 190px;
    padding: 0;
}
.middleBox{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    height: 190px;
    min-width: 115px;
    width: 115px;
    margin: 0;
    margin-right: 18px;
}

.boxcontent{
    position: relative;
    height: inherit;
    width: inherit;
    padding-bottom: 3px;
}
.boxcontent h3{
    bottom: 25px;
    left: 7px;
    position: absolute;
    margin: 0;
}
.boxcontent h4{
    bottom: 7px;
    left: 7px;
    position: absolute;
    margin: 0;
}

.bigBlock{
    width: 85vw;
    height: 355px;
    margin: 0;
}
.bigBox{
    display: grid;
    background-color: #000;
    color: #fff;
    width: 355px;
    height: 355px;
    margin: 3px 0;
    border-radius: 5px;
}
.stories{
    display: flex;
    min-width: 85vw;
    overflow: auto;
    overflow-y: hidden;
    width: auto;
    height: 190px;
    margin: 18px 0;
}
.story{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    min-width: 140px;
    height: 190px;
    margin: 0;
    margin-right: 18px;
}