body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  color:white;
}
#root{
  position: absolute;
}
#headerBar{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  clear: both;
  color: #fff;
  background: #212121;
}
#headerBar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; 
}
#headerBar ul li{
  display: block; 
  text-decoration: none;
  float: left; 
  margin: 0;
  width: calc(100% /3); 
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  font-style: italic;
}
#navBar{
  z-index: 2;
  position: fixed;
  top: calc(100vh - 50px);
  left: 0;
  height: 50px;
  width: 100vw;
  clear: both;
  color: #fff;
  background: #212121;
}
#navBar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
#navBar ul li{
  display: block; 
  text-decoration: none;
  float: left; 
  margin: 0;
  width: calc(100% /3); 
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content{
  margin-top: 50px;
  width: calc(100vw - 20px); 
  height: auto;
  min-height: 100vh;
  /* padding abziehen */
  padding: 10px;
  background-color: #101010;
  z-index: 30;
}
#navBar ul li a:visited,
#navBar ul li a{
  text-decoration: none;
  color: inherit;
}

.testHookDiv{
 /* background-image: url('./img/maria2.png');*/
}
