/*#contentMerkliste{
     width: auto;
     height: 400px;

}

#contentMerkliste button{
    margin-top: 200px;
}*/


#contentMerkliste{
    /* margin-top: 140px; */
    margin-top: 130px;
    width: calc(100vw - 20px);
    max-width: calc(375px - 20px);
    height: auto;
    min-height: 100vh;
    /* padding abziehen */
    padding: 10px;
    background-color:#212121;
    z-index: 25;
    padding-bottom: 50px;

}

.conditionalLoadingButton {
    z-index: 26;
}
