#contentMerkliste{
     width: auto;
     height: 400px;

}


#contentMerkliste button{
    margin-top: 200px;
}

.conditionalLoadingButton {
    color: red;
    background-color: yellow;
    z-index: 26;
    margin-top: 150px;
}